:root {
  --main: #FF8C00;
  --dark-bg: #202124;
  --light-bg: #35363A;
  --dark-font: #ccc;
  --light-font: #fff;

  font-size: 10px;
  scroll-padding-top: 120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr) repeat(4, auto) 0.5fr;
}

/* Slider Styles */
.slider {
  background-color: var(--main);
  grid-area: 1 / 1 / 8 / 2;
  padding: 18px;
  font-size: 3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 4%;
}

.slider > .dashboard {
  position: sticky;
  top: 20px;
}

.slider > .links {
  position: sticky;
  top: 105px;
}

.slider > .settings {
  position: sticky;
  top: 330px;
}

.slider > .dashboard > .logo > span {
  font-size: 3.8rem;
  vertical-align: -9px;
}

.slider > div > div:hover {
  cursor: pointer;
  color: var(--light-font);
}

.slider div > a {
  text-decoration: none;
  font-size: 3rem;
  color: var(--dark-bg);
}

.slider div > a:hover {
  color: var(--light-font);
}

.material-symbols-outlined {
  vertical-align: -2px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}


/* Header Styles */
.header {
  background-color: var(--dark-bg);
  padding: 5px 15px;
  grid-area: 1 / 2 / 2 / 6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  z-index: 4;
}

.header > .search {
  margin-left: 25px;
  margin-right: auto;
  position: relative;
}

.header > .search > form > input {
  width: 50vw;
  height: 40px;
  background-color: var(--dark-bg);
  color: var(--dark-font);
  border: 2px solid var(--dark-font);
  border-radius: 25px;
  padding-left: 40px;
  outline: none;
}

.header > .search > form > input:focus {
  border: 2px solid var(--main);
  background-color: var(--light-bg);
  color: var(--light-font);
}

.header > .search > form > label {
  color: var(--dark-font);
  position: absolute;
  left: 12px;
  top: 8px
}

.header > .ico > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header > .name {
  font-size: 1.8rem;
  color: var(--light-font);
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* Navigator Style */
.nav {
  background-color: var(--dark-bg);
  grid-area: 2 / 2 / 3 / 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 40px;
  position: sticky;
  top: 0;
  box-shadow: 2px 3px 6px var(--dark-font);
  z-index: 3;
}

.nav > .icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav > .icon > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.nav > .icon > p {
  font-size: 1.8rem;
  color: var(--dark-font);
  letter-spacing: 1px;
  text-wrap: nowrap;
}

.nav > .icon > p::first-line {
  font-size: 1.2rem;
}

.nav > .buttons {
  display: flex;
  gap: 25px;
}

.nav > .buttons button {
  width: 14rem;
  height: 3.8rem;
  border-radius: 1.7rem;
  background-color: var(--main);
  color: var(--dark-font);
  font-size: 1.8rem;
  cursor: pointer;
}

.nav > .buttons button:hover {
  color: var(--light-font);
}


/* Main Style */
.main {
  background-color: var(--light-bg);
  grid-area: 3 / 2 / 4 / 6;
  padding: 25px;
  text-align: center;
}

.main > h1 {
  color: var(--light-font);
  font-size: 3rem;
}

.main > .container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 2fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 25px;
}

.main > .container > .project {
  background-color: var(--dark-bg);
  padding: 15px;
  height: 300px;
  border-radius: 15px;
  border-left: 10px double var(--main);
  box-shadow: 3px 3px 7px var(--dark-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main > .container > .project > h2 {
  font-size: 2rem;
  color: var(--light-font);
}

.main > .container > .project > img {
  width: 80%;
}

.main > .container > .project > .links {
  align-self: flex-end;
}

.main > .container > .project > .links > a > img {
  width: 38px;
  padding: 0 5px;
}


/* My-CV Styles */
.curriculum-vitae {
  background-color: var(--dark-bg);
  grid-area: 4 / 2 / 5 / 6;
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curriculum-vitae > h1 {
  color: var(--dark-font);
  font-size: 4rem;
}

.curriculum-vitae h2 {
  color: var(--dark-font);
  font-size: 3rem;
  margin: 25px auto 5px;
}

.curriculum-vitae > .summary table,
.curriculum-vitae > .skills table,
.curriculum-vitae > .education table,
.curriculum-vitae > .work-experience table,
.curriculum-vitae > .languages table,
.curriculum-vitae > .hobby table {
  border-spacing: 12px;
}

.curriculum-vitae > .summary td,
.curriculum-vitae > .skills td,
.curriculum-vitae > .education td,
.curriculum-vitae > .work-experience td,
.curriculum-vitae > .languages td,
.curriculum-vitae > .hobby td {
  padding: 8px 28px;
  font-size: 1.8rem;
  color: var(--dark-font);
  text-align: left;
  box-shadow: 3px 3px 6px var(--dark-font);
}
 

/* Footer Style */
.footer {
  background-color: var(--dark-bg);
  grid-area: 6 / 2 / 8 / 6;
}


