/* Main Styles */
:root.dark {
  --main: #FF8C00;
  --dark-bg: #1A1A1D;
  --light-bg: #4E4E50;
  --dark-font: #CCC;
  --light-font: #FFF;
  --target: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  scroll-padding-top: 110px;
}

:root.light {
  --main: #662E1C;
  --dark-bg: #C9A66B;
  --light-bg: #EBDCB2;
  --dark-font: #1A1A1D;
  --light-font: #414141;
  --target: #FFF;

  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  scroll-padding-top: 110px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Main Page Container Style */
.main-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr) repeat(4, auto);
}


/* Slider Container Styles */
.slider {
  background-color: var(--main);
  color: var(--dark-bg);
  grid-area: 1 / 1 / 8 / 2;
  padding: 18px;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-flow: column nowrap;
  gap: 4%;
  z-index: 10;
}

.slider > .dashboard-top {
  position: fixed;
}

.slider > .links {
  position: fixed;
  top: 100px;
}

.slider > .dashboard-top > .dashboard > span {
  font-size: 3.8rem;
  vertical-align: -9px;
}

.slider > div > div:hover {
  cursor: pointer;
  color: var(--target);
}

.slider div > a {
  text-decoration: none;
  color: var(--dark-bg);
}

.slider div > a:hover {
  color: var(--target);
}

.material-symbols-outlined {
  vertical-align: -2px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}


/* Header Container Styles */
.header {
  background-color: var(--dark-bg);
  padding: 5px 15px;
  grid-area: 1 / 2 / 2 / 6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  z-index: 9;
}

.header > .search {
  margin-left: 25px;
  margin-right: auto;
  position: relative;
}

.header > .search > form > input {
  width: 50vw;
  height: 40px;
  background-color: var(--dark-bg);
  color: var(--dark-font);
  border: 3px solid var(--dark-font);
  border-radius: 25px;
  padding-left: 40px;
  outline: none;
}

.header > .search > form > input:focus {
  border: 3px solid var(--main);
  background-color: var(--light-bg);
  color: var(--light-font);
}

.header > .search > form > label {
  color: var(--dark-font);
  position: absolute;
  left: 12px;
  top: 8px
}

.header > .color-theme > img {
  width: 40px;
  height: 40px;
  color: var(--dark-font);
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.header > .color-theme > img:hover {
  transform: scale(1.3) rotate(1turn);
  transition: 1s;
}

.header > .mini-photo > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header > .name {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--light-font);
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* Second Header Container Style */
.second-header {
  background-color: var(--dark-bg);
  grid-area: 2 / 2 / 3 / 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 40px;
  position: sticky;
  top: 0;
  box-shadow: 2px 3px 6px var(--dark-font);
  z-index: 8;
}

.second-header > .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.second-header > .logo > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.second-header > .logo > p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--dark-font);
  letter-spacing: 1px;
  text-wrap: nowrap;
}

.second-header > .logo > p::first-line {
  font-size: 1.2rem;
}

.second-header > .buttons {
  display: flex;
  gap: 25px;
}

.second-header > .buttons button {
  width: 16rem;
  height: 4rem;
  border-radius: 8rem;
  background-color: var(--main);
  color: var(--dark-bg);
  font-size: 1.8rem;
  font-weight: 800;
  cursor: pointer;
}

.second-header > .buttons button:hover {
  color: var(--target);
  box-shadow: 0 0 8px var(--target);
  transition: 0.3s;
}


/* Projects Container Style */
.projects-container {
  background-color: var(--light-bg);
  grid-area: 3 / 2 / 4 / 6;
  padding: 25px;
  box-shadow: 2px 3px 6px var(--dark-font);
  text-align: center;
  z-index: 7;
}

.projects-container > h1 {
  color: var(--light-font);
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.projects-container > .projects-sub-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 2fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 25px;
}

.projects-container > .projects-sub-container > .project-card {
  background-color: var(--dark-bg);
  padding: 15px;
  height: 320px;
  border-radius: 15px;
  border-left: 15px double var(--main);
  box-shadow: 3px 3px 7px var(--dark-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.projects-container > .projects-sub-container > .project-card > h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--light-font);
}

.projects-container > .projects-sub-container > .project-card > img {
  width: 80%;
  height: 70%;
  border-top: 2px solid var(--main);
  border-left: 2px solid var(--main);
  border-radius: 10px;
  box-shadow: 3px 3px 7px var(--dark-font);
  filter: grayscale(0.6);
}

.projects-container > .projects-sub-container > .project-card > .links {
  align-self: flex-end;
}

.projects-container > .projects-sub-container > .project-card > .links > a > img {
  width: 38px;
  padding: 0 5px;
  transition: 1s;
}

.projects-container > .projects-sub-container > .project-card > .links > a > img:hover {
  transform: scale(1.3) rotate(1turn);
  transition: 1s;
}

/* Curriculum Vitae Container Styles */
.curriculum-vitae {
  background-color: var(--dark-bg);
  grid-area: 4 / 2 / 5 / 6;
  padding: 25px;
  box-shadow: 2px 3px 6px var(--light-font);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
}

.curriculum-vitae > h1 {
  color: var(--dark-font);
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.curriculum-vitae h2 {
  color: var(--dark-font);
  font-size: 3rem;
  font-weight: 600;
  margin: 25px auto 5px;
}

.curriculum-vitae > .summary table,
.curriculum-vitae > .skills table,
.curriculum-vitae > .education table,
.curriculum-vitae > .work-experience table,
.curriculum-vitae > .languages table,
.curriculum-vitae > .hobby table {
  border-spacing: 12px;
}

.curriculum-vitae > .summary td,
.curriculum-vitae > .skills td,
.curriculum-vitae > .education td,
.curriculum-vitae > .work-experience td,
.curriculum-vitae > .languages td,
.curriculum-vitae > .hobby td {
  padding: 8px 28px;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--dark-font);
  text-align: left;
  border-radius: 5px;
  border-top: 2px solid var(--main);
  border-left: 2px solid var(--main);
  box-shadow: 3px 3px 6px var(--dark-font);
}
 

/* Certificates Container Style */
.certificates {
  background-color: var(--light-bg);
  grid-area: 5 / 2 / 6 / 6;
  padding: 25px;
  box-shadow: 2px 3px 6px var(--dark-font);
  text-align: center;
  z-index: 5;
}

.certificates h1 {
  color: var(--light-font);
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.certificates > .certificate-sub-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 2fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 25px;
}

.certificates > .certificate-sub-container > .certificate {
  background-color: var(--dark-bg);
  padding: 15px;
  height: 350px;
  border-radius: 15px;
  border-left: 15px double var(--main);
  box-shadow: 3px 3px 7px var(--dark-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.certificates > .certificate-sub-container > .certificate > h2 {
  font-size: 2rem;
  color: var(--light-font);
  font-weight: 600;
}

.certificates > .certificate-sub-container > .certificate > img {
  width: 80%;
  height: 75%;
  border-top: 3px solid var(--main);
  border-left: 3px solid var(--main);
  border-radius: 10px;
  box-shadow: 3px 3px 7px var(--dark-font);
  filter: grayscale(0.2);
}

.certificates > .certificate-sub-container > .certificate > .links {
  align-self: flex-end;
}

.certificates > .certificate-sub-container > .certificate > a {
  align-self: flex-end;
}

.certificates > .certificate-sub-container > .certificate > a > img {
  width: 38px;
  padding: 0 5px;
  transition: 1s;
}

.certificates > .certificate-sub-container > .certificate > a > img:hover {
  transform: scale(1.3) rotate(1turn);
  transition: 1s;
}


/* Contact Container Style */
.contact {
  background-color: var(--dark-bg);
  grid-area: 6 / 2 / 7 / 6;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h1 {
  color: var(--dark-font);
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.contact table {
  border-spacing: 12px;
}

.contact td {
  padding: 8px 28px;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--dark-font);
  text-align: left;
  border-radius: 5px;
  border-top: 2px solid var(--main);
  border-left: 2px solid var(--main);
  box-shadow: 3px 3px 6px var(--dark-font);
}

.contact .copy {
  text-align: center;
}
